@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: white;
    font-family: 'Rubik', sans-serif;
  }
}

@layer components {

  .low-highlight {
    background: linear-gradient(to bottom, transparent 50%, #5C64EC 50%);
  }
  .title {
    @apply text-8xl font-black;
    
  }

  .logo-title{
    font-size: 10px;
  }

  .filter-names {
    @apply text-xl;
  }

  .filter-bar {
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 10%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.35) 30%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.15) 70%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0) 90%);
  }

  .image {
    transform: scaleX(-1);
  }

  .button-color {
    background-color: #5C64EC;
  }

  .button-color:hover {
    background-color: #2e3275;
  }

  .bg-principal {
    height: 80%;
    width: 60%;
  }

  .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(3px);
  }

  .form, .button {
    z-index: 1;
  }

}