@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-xl	font-medium text-black text-2xl bg-mygray p-4;
  }

  .hover-gray{
    @apply hover:bg-gray-900 hover:text-white;
  }

  canvas {
    @apply rounded-md shadow-lg ;

  }

  .image {
    @apply rounded-md shadow-lg ;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .backgrdound-container {
    @apply bg-white;
    z-index: -1;
    position: absolute;
  }
  
}