@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: white;
    font-family: 'Rubik', sans-serif;
  }
}

@layer components {

  .low-highlight {
    background: linear-gradient(to bottom, transparent 50%, #5C64EC 50%);
  }
  .title {
    @apply text-8xl font-black;
    
  }

  .filter-names {
    @apply text-xl font-bold;
  }

  .filter-bar {
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.45) 10%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.35) 30%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0.15) 70%, rgba(0,0,0,0.1) 80%, rgba(0,0,0,0) 90%);
  }

  .image {
    @apply rounded-md shadow-lg ;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}